body{
    background-color: hsl(47, 88%, 63%);
    display: grid;
    font-weight: 500;
    font-style: normal;
    font-family: "Figtree", sans-serif;
     margin-top: 100px;
}
.box{
    width: 300px;
    height: 470px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 8px 10px black;
    margin: auto;
     border: 1px solid black;
}
h1{
    font-size: 16px;
    margin-top: 0;
    color: #2d384b;
    padding-top: 30px;
}
.text{
    padding: 10px;
}
.image{
    
    height: auto;
    border-radius: 5px;
    float: left;
    padding-top: 20px;

}
p{
    font-size: 13px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom:0;
    color: #909092;
}

.name{
    padding-left: 80px;
    padding-top: 23px;
}
.random{
    height: 177px;
    border-radius: 10px;
}
.tag{
    display: inline;
    background-color:  hsl(47, 88%, 63%);
      padding: 5px 10px 5px 10px;
    border-radius: 4px;
}
.container{
    padding-top: 30px;
}

